<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>
    <header>
      <a href="/">ГОЛОВНА</a> | <a href="/countries">КРАЇНИ</a> | 
      <a href="/prices">ЦІНИ</a> | <a href="/contacts">КОНТАКТИ</a>
    </header>
    <div class="container">
      {{{body}}}
    </div>    
  </body>
</html>
