form#registration {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #1e90ff;
    -ms-border-radius: 5px;
}

form#registration fieldset {
    border: none;
    margin-bottom: 10px;
}

form#registration legend {
    color: navy;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    -ms-text-shadow: 0 1px 1px #c1f7ff;
}

form#registration label {
    float: left;
    font-size: 13px;
    width: 110px;
}

form#registration fieldset label {
    background: none no-repeat left 50%;
    line-height: 20px;
    padding: 0 0 0 30px;
}

form#registration button {
    background: #87ceeb;
    border: none;
    -ms-border-radius: 20px;
    border-radius: 20px;
    color: white;
    display: block;
    font: 18px Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    margin: auto;
    padding: 7px 25px;
    -ms-text-shadow: 0 1px 1px #c1f7ff;
    text-shadow: 0 1px 1px #c1f7ff;
    text-transform: uppercase;
}